@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body{
	width:100%;
	height:100%;
	background:url("../images/bg.png") repeat;
	min-width:1024px;
	min-height:900px;
}
#header {
	width: 100%;
	height: 100px;
	background:#367B09 url("../images/BG_BillboardLeaf.png");
	float: left;
}

#header p{
	width:300px;
	height:100px;
	color:#FFF;
	font-size:32px;
	font-weight:bold;
	text-align:center;
	line-height:100px;
	float:left;
}
#header div{
	width:500px;
	height:30px;
	float:right;
	margin-top:70px;
	line-height:30px;
}
#header div a{
	display:inline-block;
	color:#FFF;
	text-decoration:none;
	width: 60px;
	height:30px;
}
#header div a:hover{
	text-decoration:underline;
	font-weight:bold;
}
#header div .my{
	background:url("../images/my_ico.gif") no-repeat right center;
}

#main {
	width: 100%;
	float: left;
}

#footer {
	width: 100%;
	height: 100px;
	float: left;
	background:#252525;
	text-shadow:0 1px 0 #000;
}

#footer P{
	color:#FFF;
	text-shadow:#666;
	display:block;
	width:800px;
	height:50px;
	background:#000;
	margin:0 auto;
	margin-top:25px;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
    line-height:50px;
    text-align:center;
}

#left {
	width: 200px;
	height: 100%;
	background: #FFF;
	float: left;
}

#right {
	height: 100%;
	overflow: auto;
	float: left;
	background:#FFFFFF;
	border:10px solid #d3d3d3;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
}

#right #contentContainer{
	border:10px solid #FFF;
}
.nav h1 {
	color:#FFF;
	font-size: 14px;
	font-weight:bold;
	width: 150px;
	height: 40px;
	background:#a4c001 url("../images/linear-gradient-green.png");
	line-height: 40px;
	padding-left: 50px;
	float: left;
}

.nav span,.nav span a {
	font-size: 12px;
	display: block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-decoration: none;
	background: #FFFFFF;
	border-bottom:#CCCCCC solid 1px;
	color:#6F7A7F;
	font-size:14px;
}

.nav span a {
	width: 150px;
	padding-left: 50px;
}

.nav span a:hover {
	color:#0F0F0F;
	font-weight: bold;
	background: #F6F6F6;
}