<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                     http://www.springframework.org/schema/beans/spring-beans.xsd  
                     http://www.springframework.org/schema/tx  
                     http://www.springframework.org/schema/tx/spring-tx.xsd  
                     http://www.springframework.org/schema/aop  
                     http://www.springframework.org/schema/aop/spring-aop.xsd ">
	<bean id="trapHandler" class="demo.upload.service.ServerHandler" />
	<bean id="snmpCodecFilter" class="org.apache.mina.filter.codec.ProtocolCodecFilter">
		<constructor-arg>
			<bean class="org.apache.mina.filter.codec.textline.TextLineCodecFactory" />
		</constructor-arg>
	</bean>

	<bean id="loggingFilter" class="org.apache.mina.filter.logging.LoggingFilter" />

	<!-- filter chain. -->
	<bean id="filterChainBuilder"
		class="org.apache.mina.core.filterchain.DefaultIoFilterChainBuilder">
		<property name="filters">
			<map>
				<entry key="loggingFilter" value-ref="loggingFilter" />
				<entry key="codecFilter" value-ref="snmpCodecFilter" />
			</map>
		</property>
	</bean>

	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.net.SocketAddress" value="org.apache.mina.integration.beans.InetSocketAddressEditor"></entry>
			</map>
		</property>
	</bean>

	<!-- IoAcceptor 绑定在 161端口 -->
	<bean id="ioAcceptor" class="org.apache.mina.transport.socket.nio.NioSocketAcceptor"
		init-method="bind" destroy-method="unbind">
		<property name="defaultLocalAddress" value=":8821" />
		<property name="handler" ref="trapHandler" />
		<property name="filterChainBuilder" ref="filterChainBuilder" />
	</bean>


	<!-- app server -->
	<bean id="appServerHandler" class="demo.app.service.AppServerHandler" />
	<bean id="keyStoreManager" class="demo.pki.util.KeyStoreManager"
		scope="singleton"></bean>
	<bean id="appEncoder" class="demo.app.service.AppEncoder">
		<property name="keyStoreManager" ref="keyStoreManager"/>
	</bean>
	<bean id="appDecoder" class="demo.app.service.AppDecoder">
		<property name="keyStoreManager" ref="keyStoreManager"/>
	</bean>
	<bean id="appCodec" class="demo.app.service.AppCodec">
		<property name="appEncoder" ref="appEncoder"/>
		<property name="appDecoder" ref="appDecoder"/>
	</bean>
	<bean id="appCodecFilter" class="org.apache.mina.filter.codec.ProtocolCodecFilter">
		<constructor-arg>
			<ref bean="appCodec" />
		</constructor-arg>
	</bean>
	<bean id="appFilterChainBuilder"
		class="org.apache.mina.core.filterchain.DefaultIoFilterChainBuilder">
		<property name="filters">
			<map>
				<!-- <entry key="loggingFilter" value-ref="loggingFilter" /> -->
				<entry key="codecFilter" value-ref="appCodecFilter" />
			</map>
		</property>
	</bean>

	<bean id="appAcceptor" class="org.apache.mina.transport.socket.nio.NioSocketAcceptor"
		init-method="bind" destroy-method="unbind">
		<property name="defaultLocalAddress" value=":8822" />
		<property name="handler" ref="appServerHandler" />
		<property name="filterChainBuilder" ref="appFilterChainBuilder" />
	</bean>
</beans>
