<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                     http://www.springframework.org/schema/beans/spring-beans.xsd  
                     http://www.springframework.org/schema/tx  
                     http://www.springframework.org/schema/tx/spring-tx.xsd  
                     http://www.springframework.org/schema/aop  
                     http://www.springframework.org/schema/aop/spring-aop.xsd ">

	<bean id="registerAction" class="demo.action.RegisterAction"
		scope="prototype">
		<property name="user" ref="user"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="loginAction" class="demo.action.LoginAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="logoutAction" class="demo.action.LogoutAction" scope="prototype">
	</bean>
	<bean id="userAction" class="demo.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>

	<bean id="checkNameUniqueAction" class="demo.action.CheckNameUniqueAction"
		scope="prototype" autowire="byType">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="modifyUserInfoAction" class="demo.action.ModifyUserInfoAction"
		scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="userFilter" class="demo.filter.UserFilter" scope="prototype">
	</bean>
	<bean id="modifyUserPicAction" class="demo.action.ModifyUserPicAction"
		scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="uploadTestAction" class="demo.action.UploadTestAction"
		scope="prototype">
	</bean>

	<bean id="roleTreeAction" class="demo.role.action.RoleTreeAction"
		scope="prototype" autowire="byName"></bean>
	<bean id="modifyRoleAction" class="demo.role.action.ModifyRoleAction"
		scope="prototype" autowire="byName"></bean>
	<bean id="searchAction" class="demo.search.action.SearchAction"
		scope="prototype" autowire="byName"></bean>
</beans>
