<?xml version="1.0" encoding="UTF-8"?>
<menus>
    <menu name="一级" id="10">
        <menu name="一级" id="10"/>
	</menu>
	<menu name="一级" id="10">
        <menu name="一级" id="10"/>
	</menu>
	<menu name="一级" id="10">
        <menu name="一级" id="10"/>
	</menu>
	<menu name="一级" id="10">
        <menu name="一级" id="10"/>
	</menu>
	<menu name="一级" id="10">
        <menu name="一级" id="10"/>
	</menu>
</menus>